<div class="user-component">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:">User</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12"><search-form></search-form></div>
  </div>

  <div class="row mgb-20">
    <div class="col s12 text-right">
      <a class="btn btn-primary btn-md" routerLink="create"> <i class="fa fa-plus" aria-hidden="true"></i> Create </a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <loader *ngIf="!payload.fetched"></loader>
      <div class="card">
        <table *ngIf="payload.fetched" class="table table-no-border-top">
          <thead>
            <tr>
              <th>
                ID
                <sort-by-field field="id"></sort-by-field>
              </th>
              <th>
                Name
                <sort-by-field field="name"></sort-by-field>
              </th>
              <th>
                Email
                <sort-by-field field="email"></sort-by-field>
              </th>
              <th>Role</th>
              <th>
                Status
                <sort-by-field field="status"></sort-by-field>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="(payload.items | hasItem)">
            <tr *ngFor="let item of payload.items; let i = index">
              <td>{{ item.getId() }}</td>
              <td>{{ item.getFullName() }}</td>
              <td>{{ item.getEmail() }}</td>
              <td>{{ item.displayRoles() }}</td>
              <td><custom-selection name="user-status-{{ i }}" [(ngModel)]="item.status" [(options)]="UserStatus" (change)="changeUserStatus(item)"></custom-selection></td>
              <td>
                <a routerLink="edit/{{ item.getId() }}" class="btn btn-dark btn-sm icon-only"> <i class="fa fa-pencil" aria-hidden="true"></i> </a>

                <!-- <swal #deleteUser title="Delete" text="Do you want to delete this user?" type="warning" [showCancelButton]="true" (confirm)="removeUser(item)"></swal> -->
                <!-- <button class="btn btn-danger btn-sm icon-only" [swal]="deleteUser"><i class="fa fa-trash"></i></button> -->
                <button class="btn btn-danger btn-sm icon-only"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf="!(payload.items | hasItem)">
            <tr>
              <td colspan="4" class="text-center">User not found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6"><per-page></per-page></div>
    <div class="col s12"><length-aware-paginator *ngIf="payload.fetched" [(paginator)]="payload.pagination"></length-aware-paginator></div>
  </div>
</div>
